@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply text-white bg-primary;
  }
}

@layer components {
  .sideBarTitle {
    @apply font-semibold text-[25px];
  }
  .sideBarLink {
    @apply text-textColour ml-4 cursor-pointer hover:text-white transition w-fit;
  }
  .sideBarActive {
    @apply text-white;
  }
  .moviesGrid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .cardSkeleton {
    /* background-image: linear-gradient(
      90deg,
      #090b0e 0px #3d3d3d 60px #090b0e 120px
    ); */
    background-color: red;
    animation: shine 0.7s linear infinite;
  }
  .MovieTitle{
    @apply font-semibold text-[35px];
  }
}
@keyframes shine {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 220px;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
